[submodule "xmonad/.xmonad/xmonad"]
	path = xmonad/.xmonad/xmonad
	url = git@github.com:TheMC47/xmonad.git
[submodule "xmonad/.xmonad/xmonad-contrib"]
	path = xmonad/.xmonad/xmonad-contrib
	url = git@github.com:TheMC47/xmonad-contrib.git
